@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@* Motor de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cauta utilizatori" name="search" value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>


<div class="row">
@foreach (var user in ViewBag.Users)
{
    <div class="col-4 mb-4">
            <div class="card" style="height:100%; width: 100%;">
        
            <div class="card-body d-flex justify-content-between flex-column">
                <div>
                    @if (!string.IsNullOrEmpty(user.Image))
                    {
                        <img src="@user.Image" alt="Poza Profil" class="img-fluid rounded-circle" style="width: 100px; height: 100px;"> 
                    }

                    @if (@user.FirstName != null && @user.LastName != null)
                    {
                        <p><i class="bi bi-person"> </i> Nume utilizator: @user.FirstName @user.LastName</p>
                    }

                    @if (@user.Content != null)
                    {
                        <p><i class="bi-info-circle"></i> Descriere utilizator: @user.Content</p>
                    }

                </div>


                @* din index se vede doar butonul de vizualizare profil doar daca e public*@
                @* se vede butonul si daca utilizatorii sunt prieteni *@
                @if (user.Visibility == "Public")
                {
                    <div class="d-flex flex-row justify-content-between p-3">
                        <a asp-controller="Home" asp-action="Show" asp-route-id="@user.Id" class="btn btn-sm btn-success">Vizualizare utilizator</a>
                    </div>
                }

            </div>
         </div>
    </div>
}
</div>