@model SocialMediaApp.Models.Post


@* Afisarea unei postari *@


@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="card">

    <div class="card-body">

        @if (!string.IsNullOrEmpty(@Model.Image))
        {
            <img src="@Model.Image" alt="Poza postare" class="img-fluid" >
        }
        
        <br />
        
        @if (!string.IsNullOrEmpty(Model.Video))
        {
            <div class="video-container">
                <iframe width="560" height="315"
                        src="@Model.Video"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        }

        <div class="card-text">@Model.Content</div>



        <div class="d-flex justify-content-between flex-row mt-5">

            <div><i class="bi bi-person"></i> @Model.User.UserName</div>

            <span class="alert-success">@Model.Date</span>

        </div>

    </div>


    @* Admin poate sa isi editeze acum doar propriul profil *@
    <div class="d-flex flex-row justify-content-between">
        @if(Model.UserId == ViewBag.UserCurent)
        {
            <a class="btn btn-success" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">Editeaza postare</a>
        }

        @if ((ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent) || ViewBag.EsteAdmin == true)
        {
            <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
                <button class="btn btn-danger" type="submit">Sterge postare</button>
            </form>
        }
    </div>
</div>

<br />
<br />

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"> @comm.User.UserName</i></strong>

                </div>
                <br>

                @* Admin editeaza doar propriile comentarii *@
                <div class="d-flex">
                    @if (comm.UserId == ViewBag.UserCurent)
                    {
                        <div>
                            <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                <i class="bi bi-pencil-square"></i> Editeaza
                            </a>
                        </div>
                    }
                    @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin == true)
                    {
                        <div>
                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                            </form>
                        </div>
                    }
                </div>

                <br />
            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga un comentariu *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" asp-controller="Posts" asp-action="Show">

                    <div class="card-body">

                        <input type="hidden" name="PostId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>

                        <span asp-validation-for="Content" class="text-danger"></span>
                        <br /><br />

                        <button class="btn btn-success" type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>